<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="content">
      <%- render %>
    </div>
    <div id="yeah">
      <a href="/test1" onclick="return setRoute(this.href)">/test1</a>
      <a href="/test2" onclick="return setRoute(this.href)">/test2</a>
      <a href="/" onclick="return setRoute(this.href)">/</a>
    </div>
    <!-- <script src=//fb.me/react-0.10.0.min.js></script> -->
    <script src="javascripts/react.js"></script>
    <script src="javascripts/director.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/test1.js"></script>
    <script src="javascripts/test2.js"></script>
    <script src="javascripts/all.js"></script>
  </body>
</html>
